body
{
    position: fixed;
    color: black;
    padding-left: 850px;
    padding-top: 100px;
    background-color: black;
}
div{
    color: white;
}
h1{
    color: black;
    text-align: center;
}
.login
{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ;  
}
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
} 